<Project>
  <PropertyGroup>
    <GameManagedPath>C:\Path\To\SPT\EscapeFromTarkov_Data\Managed</GameManagedPath>
    <BepInExPluginsPath>C:\Path\To\SPT\BepInEx\plugins</BepInExPluginsPath>
  </PropertyGroup>
</Project>
